<style>
    .none {
        display: none
    }

    .selected {
        background-image: url("__PUBLIC__/static/theme/default/img/selected.png");
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: center;

    }

    .selecte {
        background-image: url("__PUBLIC__/static/theme/default/img/selecte.png");
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: center;
    }
</style>

<form class="layui-form layui-box" onsubmit="return false;" style='padding:25px 30px 20px 0'>
    <input type="hidden" id="canteen_no" value="{$data.canteen_no}">
    <input type="hidden" id="date_str" value="{$data.sale_datetime}">
    <input type="hidden" id="dinner_flag" value="{$data.dinner_flag}">
    <!-- 表单搜索 开始 -->
    <div class="row">

        <div class="col-xs-2">
            <div class="form-group" style="line-height: 1em;padding-top:10px;  margin-left: 20px;">
                餐厅名称: {$info.canteen_name}
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group" style="line-height: 1em;padding-top:10px;  margin-left: 20px;">
                餐次名称:{$info.dinner_name}
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group" style="line-height: 1em;padding-top:10px;  margin-left: 20px;">
                售卖日期:{$info.sale_datetime}
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group" style="
    margin-left: 20px;
">
                <input type="text" name="cookbook_name" id="cookbook_name" value="" placeholder="菜品名称"
                       class="input-sm form-control" style="
    height: 25px;
">
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" style="height: 24px;padding-left: 20px;padding-right: 20px;" onclick="generate()"
                        class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索
                </button>
            </div>
        </div>
    </div>
    <!-- 表单搜索 结束 -->

    <div id="list" style="overflow-x: auto; overflow-y: auto; height: auto; width:auto;margin-left:20px;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class='text-center'>菜品名称</th>
                <th class='text-center'>组合名称</th>
                <th class='text-center'>菜品价格</th>
                <th class='text-center'>限制数量</th>
                <th class='text-center'>是否多选</th>
                <th class='text-center'>状态</th>
            </tr>
            </thead>
            <tbody id="content">
            {foreach $list as $key=>$vo}
            <tr>
                <td class='text-center'>{$vo.cookbook_name}</td>
                <td class="text-center"><input class="layui-input layui-input-inline title-input info"  name="{$vo.price_id}"  value="{$vo.cookbook_info}" style="width: 200px;height: 32px;"/></td>
                {if $vo.price_flag > 0}
                <td class='text-center'><input class="layui-input layui-input-inline title-input price"
                                               name="{$vo.price_id}"
                                               value="{$vo.cookbook_price}" style="width: 72px;height: 32px;"/></td>
                {else/}
                <td class='text-center'>{$vo.cookbook_price}</td>
                {/if}
                <td class='text-center'><input class="layui-input layui-input-inline title-input number"
                                               name="{$vo.price_id}"
                                               value="{$vo.cookbook_limit_quantity}" style="width: 72px;height: 32px;"/>
                </td>
                {if $vo.choice_flag > 0}
                <td class="text-center selected" data-value="choice"><span value="{$vo.price_id}"></span></td>
                </td>
                {else/}
                <td class="text-center selecte" data-value="choice"><span value="{$vo.price_id}"></span></td>
                </td>
                {/if}
                {if $vo.status > 0}
                <td class="text-center selected" data-value="status"><span value="{$vo.price_id}"></span></td>
                </td>
                {else/}
                <td class="text-center selecte" data-value="status"><span value="{$vo.price_id}"></span></td>
                </td>
                {/if}
            </tr>
            {/foreach}
            {if empty($list)}
            <tr>
                <td colspan="7" style="text-align:center">没 有 记 录 了 哦 !</td>
            </tr>
            {/if}
            </tbody>
        </table>
    </div>
</form>


<script>
    function generate() {
        $.ajax({
            type: 'POST',
            url: "{:url('cbprice/generate')}",  //生成数据
            data: {
                'canteen_no': $('#canteen_no').val(),
                'date_str': $('#date_str').val(),
                'dinner_flag': $('#dinner_flag').val(),
                'cookbook_name': $('#cookbook_name').val()
            },
            async: false,
            success: function (data) {
                if (data.flag == '1') {
                    layer.msg('生成数据成功');
                    var result = data.list;
                    var html = '';
                    $.each(result, function (k, v) {
                        html += '<tr><td class="text-center">' + v.cookbook_name + '</td>';
                        html += '<td class="text-center"><input class="layui-input layui-input-inline title-input info" name="' + v.price_id + '" value="' + v.cookbook_info + '" style="width: 200px;height: 32px;"/></td>';
                        if (v.price_flag > 0) {
                            html += '<td class="text-center"><input class="layui-input layui-input-inline title-input price" pattern="^[0-9a-z]$"  name="' + v.price_id + '" value="' + v.cookbook_price + '" style="width: 72px;height: 32px;"/></td>';
                        } else {
                            html += '<td class="text-center">' + v.cookbook_price + '</td>';
                        }
                        html += '<td class="text-center"><input class="layui-input layui-input-inline title-input number" pattern="^[0-9a-z]$" name="' + v.price_id + '" value="' + v.cookbook_limit_quantity + '" style="width: 72px;height: 32px;"/></td>';
                        if (v.choice_flag > 0) {
                            html += '<td class="text-center selected" data-value="choice"><span  value="' + v.price_id + '" ></span></td></td>';
                        } else {
                            html += '<td class="text-center selecte" data-value="choice"><span value="' + v.price_id + '"></span></td></td>';
                        }
                        if (v.status > 0) {
                            html += '<td class="text-center selected" data-value="status"><span  value="' + v.price_id + '" ></span></td></td>';
                        } else {
                            html += '<td class="text-center selecte" data-value="status"><span value="' + v.price_id + '"></span></td></td>';
                        }
                        $('#content').html(html);
                    });
                } else if (data.flag == '2') {
                    layer.msg('商品不存在');
                } else {
                    layer.msg('生成数据失败');
                }
            }
        });
    }

    $("#list").on("click", ".selecte", function () {
        var a = $(this);
        var id = a.children("span").attr("value");
        var is_value = a.attr("data-value");
        if(is_value == 'choice'){
            $.ajax({
                type: 'POST',
                url: "{:url('cbprice/save')}",  //切换多选列表
                data: {
                    'price_id': id,
                    'choice_flag': '1'
                },
                async: false,
                success: function (data) {
                    if (data.flag = 1) {
                        a.removeClass("selecte").addClass("selected");
                        layer.msg('切换多选列表成功');
                    } else {
                        layer.msg('切换多选列表失败');
                    }

                }
            });
        }else{
            $.ajax({
                type: 'POST',
                url: "{:url('cbprice/save')}",  //启用
                data: {
                    'price_id': id,
                    'status': '1'
                },
                async: false,
                success: function (data) {
                    if (data.flag = 1) {
                        a.removeClass("selecte").addClass("selected");
                        layer.msg('状态修改成功');
                    } else {
                        layer.msg('状态修改失败');
                    }

                }
            });
        }

    });
    $("#list").on("click", ".selected", function () {
        var a = $(this);
        var id = a.children("span").attr("value");
        var is_value = a.attr("data-value");
        if(is_value == 'choice'){
            $.ajax({
                type: 'POST',
                url: "{:url('cbprice/save')}",  //启用
                data: {
                    'price_id': id,
                    'choice_flag': '0'
                },
                async: false,
                success: function (data) {
                    if (data.flag = 1) {
                        a.removeClass("selected").addClass("selecte");
                        layer.msg('切换多选列表成功');

                    } else {
                        layer.msg('切换多选列表失败');
                    }

                }
            });
        }else{
            $.ajax({
                type: 'POST',
                url: "{:url('cbprice/save')}",  //启用
                data: {
                    'price_id': id,
                    'status': '0'
                },
                async: false,
                success: function (data) {
                    if (data.flag = 1) {
                        a.removeClass("selected").addClass("selecte");
                        layer.msg('状态修改成功');

                    } else {
                        layer.msg('状态修改失败');
                    }

                }
            });
        }

    });
    $("#list").on('change', ".price", function () {
        var id = this.name;
        var price = this.value;
        $.ajax({
            type: 'POST',
            url: "{:url('cbprice/save')}",  //保存
            data: {
                'price_id': id,
                'cookbook_price': price
            },
            async: false,
            success: function (data) {
                if (data.flag = 1) {
                    layer.msg('价格修改成功');

                } else {
                    layer.msg('价格修改失败');
                }

            }
        });

    });
    $("#list").on('change', ".info", function () {
        var id = this.name;
        var info = this.value;
        $.ajax({
            type: 'POST',
            url: "{:url('cbprice/save')}",  //保存
            data: {
                'price_id': id,
                'cookbook_info': info
            },
            async: false,
            success: function (data) {
                if (data.flag = 1) {
                    layer.msg('组合名称修改成功');

                } else {
                    layer.msg('组合名称修改失败');
                }

            }
        });

    });
    $("#list").on('change', ".number", function () {
        var id = this.name;
        var num = this.value;
        $.ajax({
            type: 'POST',
            url: "{:url('cbprice/save')}",  //保存
            data: {
                'price_id': id,
                'cookbook_limit_quantity': num
            },
            async: false,
            success: function (data) {
                if (data.flag = 1) {
                    layer.msg('数量修改成功');

                } else {
                    layer.msg('数量修改失败');
                }

            }
        });

    });
</script>
