{extend name='extra@admin/content'}

{block name="content"}

<!-- 表单搜索 开始-->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <select name="week_id" class="input-sm form-control">
                    <option value="">- 周数列表 -</option>
                    <!--{foreach $weeks as $key=>$week}-->
                    <!--{if $Think.get.week_id eq $key}-->
                    <option selected value="{$week.id}">第{$week.week_num}周 {$week.start_datetime} -
                        {$week.end_datetime}
                    </option>
                    <!--{else}-->
                    <option value="{$week.id}">第{$week.week_num}周 {$week.start_datetime} - {$week.end_datetime}
                    </option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <select name="canteen_no" class="input-sm form-control">
                    <option value="">- 餐厅列表 -</option>
                    <!--{foreach $canteens as $key=>$canteen}-->
                    <!--{if $Think.get.canteen_no eq $key}-->
                    <option selected value="{$key}">{$canteen.canteen_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$canteen.canteen_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束-->

<form onsubmit="return false;" data-auto="" method="POST" >
    <div id="list">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class='text-center'>餐厅名称</th>
            <th class='text-center'>周数</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center'>{$vo.canteen_name}</td>
            <td class='text-center'>第{$vo.week_num}周 {:date('Y-m-d',strtotime($vo['start_datetime']))} -
                {:date('Y-m-d',strtotime($vo['end_datetime']))}
            </td>
            <td class='text-center nowrap'>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-open='{:url("$classuri/edit")}?week_id={$vo.week_id}&canteen_no={$vo.canteen_no}'
                   href="javascript:void(0)">编辑</a>
                {/if}
                {if auth("$classuri/release")}
                <span class="text-explode">|</span>
                <a href="javascript:void(0)" onclick="release('{$vo.week_id}','{$vo.canteen_no}')">发布</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        {if empty($list)}
        <tr>
            <td colspan="3" style="text-align:center">没 有 记 录 了 哦 !</td>
        </tr>
        {/if}
        </tbody>
    </table>
    </div>
</form>
<script>
    function release(week_id,canteen_no) {
        // 确认对话框
        var index = $.msg.confirm('请确认发布临时菜谱到周菜谱', function () {
            $.ajax({
                type: 'POST',
                url: "{:url('cbpricetemp/release')}",  //发布
                data: {
                    'week_id': week_id,
                    'canteen_no': canteen_no
                },
                async: false,
                success: function (data) {
                    layer.msg(data.msg);
                }
            });
        }, function () {
            $.msg.close(index);
        });
    }
</script>
{/block}

