{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-open='{:url("$classuri/generate")}' data-title="生成菜谱" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 生成菜谱
    </button>
</div>

{/block}

{block name="content"}

<!-- 表单搜索 开始-->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <input name="sale_datetime" id="sale_datetime" value="{$Think.get.sale_datetime|default=''}"
                       placeholder="请选择时间" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <select name="canteen_no" class="input-sm form-control">
                    <option value="">- 餐厅列表 -</option>
                    <!--{foreach $canteens as $key=>$canteen}-->
                    <!--{if $Think.get.canteen_no eq $key}-->
                    <option selected value="{$key}">{$canteen.canteen_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$canteen.canteen_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <select name="dinner_flag" class="input-sm form-control">
                    <option value="">- 餐次列表 -</option>
                    <!--{foreach $dinnerbases as $key=>$dinnerbase}-->
                    <!--{if $Think.get.dinner_flag eq $key}-->
                    <option selected value="{$key}">{$dinnerbase.dinner_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$dinnerbase.dinner_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束-->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class='text-center'>日期</th>
            <th class='text-center'>餐厅名称</th>
            <th class='text-center'>餐次</th>
            <th class='text-center'>已选菜品</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center'>{:date('Y-m-d',strtotime($vo['sale_datetime']))}</td>
            <td class='text-center'>{$vo.canteen_name}</td>
            <td class='text-center'>{$vo.dinner_name}</td>
            <td class='text-center'>{$vo.dinner_count}</td>
            <td class='text-center nowrap'>
                {if auth("$classuri/editGenerate")}
                <span class="text-explode">|</span>
                <a data-open='{:url("$classuri/editGenerate")}?canteen_no={$vo.canteen_no}&dinner_flag={$vo.dinner_flag}&sale_datetime={:date('
                   Y-m-d',strtotime($vo['sale_datetime']))}' href="javascript:void(0)">编辑</a>
                {/if}
                <!--{if auth("$classuri/savePosition")}-->
                <!--<span class="text-explode">|</span>-->
                <!--<a data-modal='{:url("$classuri/position")}?canteen_no={$vo.canteen_no}&sale_datetime={$vo.sale_datetime}&dinner_flag={$vo.dinner_flag}'  href="javascript:void(0)">售卖</a>-->
                <!--{/if}-->
            </td>
        </tr>
        {/foreach}
        {if empty($list)}
        <tr>
            <td colspan="7" style="text-align:center">没 有 记 录 了 哦 !</td>
        </tr>
        {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
<script>
    window.laydate.render({range: true, elem: '#sale_datetime', format: 'yyyy/MM/dd'});
</script>
{/block}
