<form class="layui-form layui-box" style='padding:20px 30px 20px 30px' action="__SELF__" data-auto="true" method="post">

    <table class="layui-table">
        <caption style="text-align: center;font-size: 24px;">学生菜单 一餐厅 第14周（6.4——6.8）</caption>
        <colgroup>
            <col width="100">
            <col width="50">
        </colgroup>
        <thead>
        <tr>
            <th>日期</th>
            <th>餐次</th>
            {foreach $meals as $val}
            <th>{$val.meal_name}</th>
            {/foreach}
        </tr>
        </thead>
        <tbody>
        {foreach $list as $a=>$b}
        <tr>
            <td>{$list.$a}</td>
            <td>{$list.$a.dinner_name}</td>
            {foreach $meals as $val}
            <td id="{$val.meal_id}">
                <select name="cookbook_no[]" lay-verify="" lay-search lay-filter="cookbook_no[]">
                    <option value="">直接选择或搜索选择</option>
                    <?php foreach(${'cookbooks'.$val['meal_id']} as $value): ?>
                    <option value="{$value.cookbook_no}">[{$value.cookbook_name}] [{$value.cookbook_info}]</option>
                    <?php endforeach; ?>
                </select>
            </td>
            {/foreach}
        </tr>
        {/foreach}
        </tbody>
    </table>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>window.form.render();</script>
</form>
