{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button onclick="doPrint()" class="layui-btn layui-btn-small left">打印当前菜谱</button>
</div>

{/block}
<!--startprint-->
<table class="layui-table">
    <caption style="text-align: center;font-size: 24px;">学生菜单 {$canteens.canteen_name}
        第{$weeks.week_num}周（{$weeks.start_datetime}——{$weeks.end_datetime}）
    </caption>
    <colgroup>
        <col width="145">
        <col width="60">
    </colgroup>
    <thead>
    <tr>
        <th>日期</th>
        <th>餐次</th>
        {foreach $meals as $val}
        <th>{$val.meal_name}</th>
        {/foreach}
    </tr>
    </thead>
    <tbody>
    {foreach $list as $a=>$b}
    {foreach $b as $c=>$d}
    <tr>
        {foreach $date_time as $da=>$te}
        {if $da == $a}
        <td>{$te}  {$a}</td>
        {/if}
        {/foreach}
        <td>{$c}</td>
        {foreach $meals as $val}
        <td id="{$val.meal_id}">
            <?php foreach(${'cookbooks'.$val['meal_id']} as $value): ?>
            {if !empty($d[$val.meal_id]['cookbook_no']) and $d[$val.meal_id]['cookbook_no'] == $value['cookbook_no']}
            {$value.cookbook_info}
            {/if}
            <?php endforeach; ?>
        </td>
        {/foreach}
    </tr>
    {/foreach}
    {/foreach}
    </tbody>
</table>
<!--endprint-->
<div class="hr-line-dashed"></div>

<script>window.form.render();</script>
<script language=javascript>
    function doPrint() {
        bdhtml = window.document.body.innerHTML;
        sprnstr = "<!--startprint-->"; //开始打印标识字符串有17个字符
        eprnstr = "<!--endprint-->"; //结束打印标识字符串
        prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17); //从开始打印标识之后的内容
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr)); //截取开始标识和结束标识之间的内容
        window.document.body.innerHTML = prnhtml; //把需要打印的指定内容赋给body.innerHTML
        window.print(); //调用浏览器的打印功能打印指定区域
        window.document.body.innerHTML = bdhtml; //重新给页面内容赋值；
    }
</script>