{extend name='extra@admin/content'}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <select name="dinner_flag" class="input-sm form-control">
                    <option value="">- 餐次列表 -</option>
                    <!--{foreach $tags as $key=>$tag}-->
                    <!--{if $Think.get.dinner_flag eq $key}-->
                    <option selected value="{$key}">{$tag.dinner_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$tag.dinner_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="form-group">
                <select name="week_id" class="input-sm form-control">
                    <option value="">- 周数列表 -</option>
                    <!--{foreach $weeks as $key=>$week}-->
                    <!--{if $Think.get.week_id eq $key}-->
                    <option selected value="{$key}">第{$week.week_num}周 {$week.start_datetime} - {$week.end_datetime}</option>
                    <!--{else}-->
                    <option value="{$key}">第{$week.week_num}周 {$week.start_datetime} - {$week.end_datetime}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->
<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class='text-center'>组合索引</th>
            <th class='text-center'>周数</th>
            <th class='text-center'>时间范围</th>
            <th class='text-center'>餐次</th>
            <th class='text-center'>周一</th>
            <th class='text-center'>周二</th>
            <th class='text-center'>周三</th>
            <th class='text-center'>周四</th>
            <th class='text-center'>周五</th>
            <th class='text-center'>周六</th>
            <th class='text-center'>周日</th>
            <th class='text-center'>是否选择</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center'>{$vo.recommend_index}</td>
            <td class='text-center'>第{$vo.week_num}周</td>
            <td class='text-center'>{$vo.start_datetime} - {$vo.end_datetime}</td>
            <td class='text-center'>{$vo.dinner_name}</td>
            <td class='text-center'>{$vo.Mon}</td>
            <td class='text-center'>{$vo.Tue}</td>
            <td class='text-center'>{$vo.Wed}</td>
            <td class='text-center'>{$vo.Thu}</td>
            <td class='text-center'>{$vo.Fri}</td>
            <td class='text-center'>{$vo.Sat}</td>
            <td class='text-center'>{$vo.Sun}</td>
            <td class='text-center nowrap'>
                {if isset($vo.choose_flag) and $vo.choose_flag eq '0' and auth("$classuri/resume")}
                <a data-modal='{:url("$classuri/resume",["recommend_index"=>$vo.recommend_index,"start_datetime"=>$vo.start_datetime])}'
                   data-action='{:url("$classuri/resume",["recommend_index"=>$vo.recommend_index,"start_datetime"=>$vo.start_datetime])}'
                   href="javascript:void(0)"><img src="__PUBLIC__/static/theme/default/img/selecte.png"
                                                  style="height:50px;width:50px;"></a>
                {else if isset($vo.choose_flag) and auth("$classuri/forbid")}
                <a data-modal='{:url("$classuri/forbid",["recommend_index"=>$vo.recommend_index,"start_datetime"=>$vo.start_datetime])}'
                   data-action='{:url("$classuri/forbid",["recommend_index"=>$vo.recommend_index,"start_datetime"=>$vo.start_datetime])}'
                   href="javascript:void(0)"><img src="__PUBLIC__/static/theme/default/img/selected.png"
                                                  style="height:50px;width:50px;"></a>
                {/if}
            </td>
        </tr>
        {/foreach}
        {if empty($list)}
        <tr>
            <td colspan="14" style="text-align:center">没 有 记 录 了 哦 !</td>
        </tr>
        {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}
