<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            {if $vo and isset($vo.cookbook_typename)}
            <input type="text" readonly="" disabled="" name="cookbook_typename" value='{$vo.cookbook_typename|default=""}'
                   required="required" title="请输入分类名称" placeholder="请输入分类名称" class="layui-input disabled">
            {else}
            <input type="text" name="cookbook_typename" value='{$vo.cookbook_typename|default=""}' pattern="^\S{2,}$"
                   title="请输入2位及以上的字符" required="required" placeholder="请输入分类名称" class="layui-input">
            {/if}
        </div>
    </div>


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['cookbook_typeid'])}<input type='hidden' value='{$vo.cookbook_typeid}' name='cookbook_typeid'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>window.form.render();</script>
</form>
