{extend name='extra@admin/content'}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">

        <div class="col-xs-2">
            <div class="form-group">
                <select name="tag" class="input-sm form-control">
                    <option value="">- 部门列表 -</option>
                    <!--{foreach $tags as $key=>$tag}-->
                    <!--{if $Think.get.tag eq $key}-->
                    <option selected value="{$key}">{$tag.dept_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$tag.dept_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="Emp_Name" value="{$Think.get.Emp_Name|default=''}" placeholder="真实姓名" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class='text-center'>真实姓名</th>
                <th class='text-center'>所属部门</th>
                <th class='text-center'>打卡时间</th>
                <th class='text-center'>设备序列号</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='text-center'>{$vo.Emp_Name}</td>
                <td class='text-center'>{$vo.dept_name}</td>
                <td class='text-center'>{:date('Y-m-d H:i:s',strtotime($vo['att_datetime']))}</td>
                <td class='text-center'>{$vo.machine_id}</td>
            </tr>
            {/foreach}
            {if empty($list)}
            <tr><td colspan="8" style="text-align:center">没 有 记 录 了 哦 !</td></tr>
            {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}
