{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加补贴" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 添加补贴
    </button>
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <select name="tag" class="input-sm form-control">
                    <option value="">- 部门列表 -</option>
                    <!--{foreach $tags as $key=>$tag}-->
                    <!--{if $Think.get.tag eq $key}-->
                    <option selected value="{$key}">{$tag.dept_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$tag.dept_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class='text-center'>部门名称</th>
                <th class='text-center'>补贴月份</th>
                <th class='text-center'>补贴金额</th>
                <th class='text-center'>补贴说明</th>
                <th class='text-center'>录入时间</th>
                <th class='text-center'>录入操作人员</th>
                <th class='text-center'>审核时间</th>
                <th class='text-center'>审核操作人员</th>
                <th class='text-center'>审核状态</th>
                <th class='text-center'>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='text-center'>{$vo.dept_name}</td>
                <td class='text-center'>{$vo.grant_month}</td>
                <td class='text-center'>{$vo.grant_money}</td>
                <td class='text-center'>{$vo.memo}</td>
                {if $vo.grant_datetime}
                <td class='text-center'>{:date('Y-m-d H:i:s',strtotime($vo['grant_datetime']))}</td>
                {else}
                <td class='text-center'><span style='color:#ccc'>无</span></td>
                {/if}
                <td class='text-center'>{$vo.grant_operid}</td>
                {if $vo.grant_checktime}
                <td class='text-center'>{:date('Y-m-d H:i:s',strtotime($vo['grant_checktime']))}</td>
                {else}
                <td class='text-center'><span style='color:#ccc'>无</span></td>
                {/if}
                <td class='text-center'>{$vo.grant_checkoperid|default="<span style='color:#ccc'>无</span>"}</td>
                {if $vo.status == '0'}
                <td class='text-center'>未审核</td>
                {else/}
                <td class='text-center'>已审核</td>
                {/if}
                <td class='text-center nowrap'>
                    {if auth("$classuri/editemp") && $vo.status =='0'}
                    <span class="text-explode">|</span>
                    <a data-open='{:url("$classuri/editemp")}?grant_no={$vo.grant_no}'>编辑</a>
                    {/if}

                    {if auth("$classuri/view") && $vo.status =='1'}
                    <span class="text-explode">|</span>
                    <a data-open='{:url("$classuri/view")}?grant_no={$vo.grant_no}'>查看</a>
                    {/if}

                    {if auth("$classuri/audit") && $vo.status =='0'}
                    <span class="text-explode">|</span>
                    <a data-open='{:url("$classuri/audit")}?grant_no={$vo.grant_no}'>审核</a>
                    {/if}

                    {if auth("$classuri/del") && $vo.status=='0'}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.grant_no}" data-field='delete' data-action='{:url("$classuri/del")}'
                       href="javascript:void(0)">删除</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
            {if empty($list)}
            <tr><td colspan="10" style="text-align:center">没 有 记 录 了 哦 !</td></tr>
            {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}
