{extend name='extra@admin/content'}

{block name="button"}

<div class="nowrap pull-right" style="margin-top:10px">
    {if auth("$classuri/synch")}
    <button onclick="synch()" data-title="同步账单" class='layui-btn layui-btn-small'>同步账单</button>
    {/if}
</div>

{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="Emp_Name" value="{$Think.get.Emp_Name|default=''}" placeholder="员工名称" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="Emp_MircoMsg_Uid" value="{$Think.get.Emp_MircoMsg_Uid|default=''}" placeholder="手机号码" class="input-sm form-control">
            </div>
        </div>

        <!--<div class="col-xs-2">-->
            <!--<div class="form-group">-->
                <!--<select name="status" class="input-sm form-control">-->
                    <!--<option value="">- 推送状态 -</option>-->
                    <!--&lt;!&ndash;{if $Think.get.status eq '0'}&ndash;&gt;-->
                    <!--<option selected value="0">未推送</option>-->
                    <!--<option value="{$Think.get.company_id}">已推送</option>-->
                    <!--&lt;!&ndash;{elseif $Think.get.status eq '' }&ndash;&gt;-->
                    <!--<option value="0">未推送</option>-->
                    <!--<option value="{$Think.get.company_id}">已推送</option>-->
                    <!--&lt;!&ndash;{else}&ndash;&gt;-->
                    <!--<option value="0">未推送</option>-->
                    <!--<option selected value="{$Think.get.company_id}">已推送</option>-->
                    <!--&lt;!&ndash;{/if}&ndash;&gt;-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xs-2">-->
            <!--<div class="form-group">-->
                <!--<select name="status" class="input-sm form-control">-->
                    <!--<option value="">- 订单状态 -</option>-->
                    <!--&lt;!&ndash;{if $Think.get.status eq '0'}&ndash;&gt;-->
                    <!--<option selected value="0">待付款</option>-->
                    <!--<option value="1">付款成功</option>-->
                    <!--&lt;!&ndash;{elseif $Think.get.status eq '1' }&ndash;&gt;-->
                    <!--<option selected value="0">待付款</option>-->
                    <!--<option value="1">待对账</option>-->
                    <!--&lt;!&ndash;{else}&ndash;&gt;-->
                    <!--<option value="0">未对账</option>-->
                    <!--<option selected value="{$Think.get.company_id}">已对账</option>-->
                    <!--&lt;!&ndash;{/if}&ndash;&gt;-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
            <tr>
                <!--<th class='list-table-check-td'>-->
                    <!--<input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>-->
                <!--</th>-->
                <th class='text-center'>订单号</th>
                <th class='text-center'>员工名称</th>
                <th class='text-center'>交易时间</th>
                <th class='text-center'>商户总交易流水号</th>
                <th class='text-center'>充值金额</th>
                <th class='text-center'>充值状态</th>
                <th class='text-center'>手机号码</th>
                <th class='text-center'>支付平台流水号</th>
                <th class='text-center'>结算日期</th>
                <th class='text-center'>是否对账</th>
                <th class='text-center'>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <!--<td class='list-table-check-td'>-->
                    <!--<input class="list-check-box" value='{$vo.Emp_Id}' type='checkbox'/>-->
                <!--</td>-->
                <td class='text-center'>{$vo.Emp_Id}</td>
                <td class='text-center'>{$vo.Emp_Name}</td>
                <td class='text-center'>{$vo.Emp_MircoMsg_Uid}</td>
                <td class='text-center'>{$vo.meal_name|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-center'>{$vo.dept_name|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-center'>{$vo.Ic_Card|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-center'>{$vo.account_remain|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-center'>{$vo.account_remain_money|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-center'>{$vo.account_freeze|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-center'>{$vo.account_freeze_money|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-center nowrap'>
                    {if auth("$classuri/charge")}
                    <span class="text-explode">|</span>
                    <a data-modal='{:url("$classuri/charge")}?Emp_Id={$vo.Emp_Id}'  data-title="充值" href="javascript:void(0)">充值</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
            {if empty($list)}
            <tr><td colspan="11" style="text-align:center">没 有 记 录 了 哦 !</td></tr>
            {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
<script>
    function synch(){
        layer.msg('是否同步对账订单', {
            time: 0 //不自动关闭
            ,btn: ['是', '否']
            ,yes: function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('recharge/synch')}",  //保存
                    async: false,
                    success: function (data) {
                        layer.close(index);
                        layer.msg(data.msg, function() {
                            history.go();
                        });
                    }
                });
            }
        });
    }
</script>
{/block}
