{extend name='extra@admin/content'}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <select name="report_id" class="input-sm form-control">
                    <option value="">- 统计列表 -</option>
                    <!--{foreach $reportTypes as $key=>$reportType}-->
                    <!--{if $Think.get.report_id eq $key}-->
                    <option selected value="{$key}">{$reportType.report_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$reportType.report_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input name="dinner_datetime" id="dinner_datetime" value="{$Think.get.dinner_datetime|default=''}"
                       placeholder="请选择时间" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="key" value="{$Think.get.key|default=''}" placeholder="模糊查询" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-glass"></i> 生成报表</button>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <button onclick="excelBtn()"  class='btn btn-sm btn-white' type="button"><i class='fa fa-download'></i> 导出报表
                </button>
            </div>
        </div>
    </div>
</form>


<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover" id="tableExcel">
        <thead>
        <tr>
        {foreach $name as $key=>$vo}
            <th class='text-center'>{$vo}</th>
        {/foreach}
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            {foreach $name as $keyword=>$volist}
            <td class='text-center'><?php echo $vo[$volist] ?></td>
            {/foreach}
        </tr>
        {/foreach}
        {if empty($list)}
        <tr>
            <td colspan="6" style="text-align:center">没 有 记 录 了 哦 !</td>
        </tr>
        {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
<script>
    window.laydate.render({range: true, elem: '#dinner_datetime', format: 'yyyy/MM/dd'});
</script>
<script>
    function excelBtn(){
        exportExcel.exports(tableExcel);
    }
    class ExportExcel {
        constructor() {
            this.idTmr = null;
            this.uri = 'data:application/vnd.ms-excel;base64,';
            this.template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="UTF-8"><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
        }
        getBrowser() {
            var explorer = window.navigator.userAgent;
            //ie
            if (explorer.indexOf("MSIE") >= 0) {
                return 'ie';
            }
            //firefox
            else if (explorer.indexOf("Firefox") >= 0) {
                return 'Firefox';
            }
            //Chrome
            else if (explorer.indexOf("Chrome") >= 0) {
                return 'Chrome';
            }
            //Opera
            else if (explorer.indexOf("Opera") >= 0) {
                return 'Opera';
            }
            //Safari
            else if (explorer.indexOf("Safari") >= 0) {
                return 'Safari';
            }
        };
        exports(tableid) {
            if (this.getBrowser() == 'ie') {
                var curTbl = document.getElementById(tableid);
                var oXL = new ActiveXObject("Excel.Application");
                var oWB = oXL.Workbooks.Add();
                var xlsheet = oWB.Worksheets(1);
                var sel = document.body.createTextRange();
                sel.moveToElementText(curTbl);
                sel.select();
                sel.execCommand("Copy");
                xlsheet.Paste();
                oXL.Visible = true;

                try {
                    var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");
                } catch (e) {
                    alert(e);
                } finally {
                    oWB.SaveAs(fname);
                    oWB.Close(savechanges = false);
                    oXL.Quit();
                    oXL = null;
                    this.idTmr = window.setInterval("Cleanup();", 1);
                }
            } else {
                this.openExport(tableid)
            }
        };
        openExport(table, name) {
            if (!table.nodeType) {
                table = document.getElementById(table)
            }
            var ctx = {
                worksheet: name || 'Worksheet',
                table: table.innerHTML
            };
            window.location.href = this.uri + this.base64(this.format(this.template, ctx));
        };
        base64(s) {
            return window.btoa(unescape(encodeURIComponent(s)))
        };
        format(s, c) {
            return s.replace(/{(\w+)}/g, function (m, p) {
                return c[p];
            });
        };
    }
    var exportExcel = new ExportExcel();
</script>
{/block}
