{extend name='extra@admin/content'}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <select name="report_id" class="input-sm form-control">
                    <option value="">- 统计列表 -</option>
                    <!--{foreach $reportTypes as $key=>$reportType}-->
                    <!--{if $Think.get.report_id eq $key}-->
                    <option selected value="{$key}">{$reportType.report_name}</option>
                    <!--{else}-->
                    <option value="{$key}">{$reportType.report_name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input name="dinner_datetime" id="dinner_datetime" value="{$Think.get.dinner_datetime|default=''}"
                       placeholder="请选择时间" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="key" value="{$Think.get.key|default=''}" placeholder="模糊查询" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-glass"></i> 生成报表</button>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <button data-title="导出报表" data-href='{:url("$classuri/export")}?start={$param.start}&end={$param.end}&report_id={$param.report_id}&keyword={$param.keyword}' class='btn btn-sm btn-white' type="button"><i class='fa fa-download'></i> 导出报表
                </button>
            </div>
        </div>
    </div>
</form>


<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
        <tr>
        {foreach $name as $key=>$vo}
            <th class='text-center'>{$vo}</th>
        {/foreach}
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            {foreach $name as $keyword=>$volist}
            <td class='text-center'><?php echo $vo[$volist] ?></td>
            {/foreach}
        </tr>
        {/foreach}
        {if empty($list)}
        <tr>
            <td colspan="6" style="text-align:center">没 有 记 录 了 哦 !</td>
        </tr>
        {/if}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
<script>
    window.laydate.render({range: true, elem: '#dinner_datetime', format: 'yyyy/MM/dd'});
</script>
{/block}
