<script src="__PUBLIC__/static/index/lib/jquery-2.1.4.js"></script>
<script src="__PUBLIC__/static/index/js/jquery-weui.min.js"></script>
<!--<script src="__PUBLIC__/static/index/js/vue.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="__PUBLIC__/static/index/js/common.js"></script>
<script src="__PUBLIC__/static/index/lib/fastclick.js"></script>
<script src="__PUBLIC__/static/index/js/animsition.min.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script type="text/javascript">
    var $animsition = $('.animsition');

    $(document).ready(function() {
        $animsition.animsition({
            onLoadEvent: false
        })
    });

    $(window).on('load', function() {
        $animsition.each(function(i){
            $(this).animsition('in');
        });
    });

</script>
</body>
</html>