<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{:sysconf_v('browser_icon')}" />
    <title>[title]</title>
    <meta name="keywords" content="[keywords]"/>
    <meta name="description" content="[description]"/>
    <link rel="stylesheet" href="__PUBLIC__/static/index/lib/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/index/css/jquery-weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/index/css/default.css">
    <link rel="stylesheet" href="__PUBLIC__/static/index/css/sdongpo.css">
    <link rel="stylesheet" href="__PUBLIC__/static/index/css/animsition.min.css">
</head>
<style>
    /*消除VUE渲染过程*/
    [v-cloak] {
        display: none !important;
    }
    .pb90{
        padding-bottom: 90px;
    }
</style>
<body class="F oh Sbgf6 animsition">

