{include file="common/header"  title="今日菜谱" keywords="今日菜谱" description=""/}
<div id="app" class="f fr6 scroll H ">
    <ul class="bgf clear W SSheader">
        <li class="hl50 F_ bbd bgf">
            <p class='f pl10 tc'>食材检测报告</p>
        </li>
    </ul>
    <img src="__PUBLIC__/static/index/images/1.jpg" class="H W mt50" onclick="funcReadImgInfo()">
    <img src="__PUBLIC__/static/index/images/2.jpg" class="H W mt50" onclick="funcReadImgInfo()">
</div>
{include file="common/footer" /}
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*调用微信预览图片的方法*/
    function funcReadImgInfo(){
        var imgs = [];
        var imgObj = $("#app img");//这里改成相应的对象
        for(var i=0; i<imgObj.length; i++){
            imgs.push(imgObj.eq(i).attr('src'));
            imgObj.eq(i).click(function(){
                var nowImgurl = $(this).attr('src');
                WeixinJSBridge.invoke("imagePreview",{
                    "urls":imgs,
                    "current":nowImgurl
                });
            });
        }

    }
</script>





