{include file="common/header" title="部门管理" keywords="部门管理" description="" /}
<div id="app" class="f H scroll oh" v-cloak>
    <ul class="bgf clear SSheader W">
        <li class="hl50 F_ bbd bgf tc bgdefault cf fr6">
            <p class='f C2'>日期</p>
            <p class='f C2'>餐次</p>
            <p class='f C2'>部门</p>
            <p class='f C2'>总人数</p>
            <p class='f C2'>已订人数</p>
            <p class='f C2'>未订人数</p>
        </li>
    </ul>
    <div class="tc pt100" v-if="orderGetCount == '0'">
        <img src="__PUBLIC__/static/index/images/menu_st.png" class="h80 lh80 mb5">
        <p class="c9 mb15">部门管理空空如也！</p>
        <button class="bgdefault cf p10-20 r4" onclick="openWin('/index/index',{})">去其他日期选购订餐</button>
    </div>
    <div v-else class="W H mt50">
        <ul class="bgf clear" v-for="item in orderDeptList">
            <li class="hl50 F_ bbd bgf tc fr6" @click="deptMember(item.sale_datetime,item.dinner_flag,item.dept_id)">
                <p class="f C2">{{item.datetime}}</p>
                <p class="f C2">{{item.dinner_name}}</p>
                <p class="f C2">{{item.dept_name}}</p>
                <p class="f C2">{{item.emp_count}}</p>
                <p class="f C2">{{item.dinner_count}}({{item.dinner_count1}})</p>
                <p class="f C2">{{item.dinner_remain_count}}</p>
            </li>
        </ul>
    </div>
</div>
<!-- 底部导航栏 -->
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            orderDeptList: [],
            orderGetCount: '0'
        };
        new Vue({
            el: '#app',
            data: data,
            methods: {
                deptMember: function (sale_datetime,dinner_flag,dept_id) {  //跳转函数
                    openWin('/index/index/deptMember', {sale_datetime: sale_datetime,dinner_flag:dinner_flag,dept_id:dept_id});
                },
                initDeptObj: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.getmydept,
                        type: "POST",
                        dataType: "json",
                        success: function (ret) {
                            self.orderDeptList = ret;
                            self.orderGetCount = self.orderDeptList.length;
                            console.log(self.orderDeptList);
                        }
                    });
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.initDeptObj();
                })
            }
        })
        ;
    };
</script>



