{include file="common/header" title="个人中心" keywords="个人中心" description="" /}
<div id="app" class="f H scroll oh " v-cloak>
    <div class="pr pt50 Sbg h200 pr bgdefault">
        <div class="tc">
            <div class="dib r f0 p7 Sbgf">
                <img :src="image" class="max r h80 w80"/>
            </div>
            <div class="cf f18 mt20">{{name}}</div>
        </div>
        <div class="R15 T15 cf" @click="loginOut">退出</div>
    </div>
    <ul>
        <li class="hl50 F_ bbd bgf " onclick="openWin('/index/index/myInfo',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/info.png" class="h20 lh20 mt15"></i>
            <p class='f pl10'>个人信息</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>

        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/changePw',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/pw.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>密码修改</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>

        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/money',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/余额.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>我的余额</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>

        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/rechargeList',{})" v-show="third_type == '2'">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/充值.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>账户充值</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>

        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/orderList',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/记录.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>用餐记录</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="W h10 bge"></li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/dept',{})" v-show="dept_type == 'userdept'">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/部门.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>订餐管理</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/refund',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/退餐.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>退餐申请</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/patch',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/补餐.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>补餐申请</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/report',{})" v-show="dept_type == 'userdept'">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/统计.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>营养报表</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/checkList',{})" v-show="dept_type == 'userdept'">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/审核.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>退补餐审核</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/dinner',{})" v-show="dept_type == 'userdept'">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/餐厅.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>人员餐次管理</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="W h10 bge"></li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/messageList',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/声音.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>系统通知</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" onclick="openWin('/index/index/opinion',{})">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/意见.png"
                                                    class="h20 lh20 mt15"></i>
            <p class='f pl10'>意见反馈</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" @click="fastus()">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/使用说明.png" class="h20 lh20 mt15"></i>
            <p class='f pl10'>使用说明</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>
        <li class="hl50 F_ bbd bgf" @click="aboutus()">
            <i class="iconfont  f26 ml10 Sc4"> <img src="__PUBLIC__/static/index/images/关于我们.png" class="h20 lh20 mt15"></i>
            <p class='f pl10'>关于我们</p>
            <i class="iconfont  c9 mr10"> <img src="__PUBLIC__/static/index/images/go.png" class="h20 lh20 mt15"></i>
        </li>

    </ul>
</div>
<!-- 底部导航栏 -->
<div class="W bgf btd tc f12 c9 h60 SSfooter animsition" id="menu" v-show = "dn == '0'">
    <div class="C3" onclick="openWin('/index/index/index',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/home.png">
        </div>
        <div class=" h24 lh20">首页</div>
    </div>
    <div class="C3" onclick="openWin('/index/index/menu',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/menu.png">
        </div>
        <div class="h24 lh20">今日菜谱</div>
    </div>
    <div class="C3" onclick="openWin('/index/index/me',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/me-g.png">
        </div>
        <div class="h24 lh20 SScmenu">个人中心</div>
    </div>
    <div class="C3"  @click="open()">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/more.png">
        </div>
        <div class="h24 lh20">更多</div>
    </div>
</div>
<div class="W bgf btd tc f12 c9 h60 SSfooter animsition" id="more" v-show = "dn == '0'">
    <div class="C4" onclick="openWin('http://mp.weixin.qq.com/s/lMox_9tXogcEl_Mk-c4wRw',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/teach.png">
        </div>
        <div class="h24 lh20">食学教育</div>
    </div>
    <div class="C4" onclick="openWin('/index/index/wechat',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/report.png">
        </div>
        <div class="h24 lh20">食材检测报告</div>
    </div>
    <div class="C4"  @click="close()">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/close.png">
        </div>
        <div class="h24 lh20">关闭</div>
    </div>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            name: '',
            image:'',
            dept_type:'',
            third_type:'1'
        };
        var more = new Vue({
            el: '#more',
            data: {
                dn : '1'
            },
            methods: {
                close: function () {  //菜单
                    var self = this;
                    self.dn = '1';
                    menu.dn= '0';
                }
            }
        });
        var menu = new Vue({
            el: '#menu',
            data: {
                dn : '0'
            },
            methods: {
                open: function () {  //菜单
                    var self = this;
                    self.dn = '1';
                    more.dn = '0';
                }
            }
        });
        new Vue({
            el: '#app',
            data: data,
            methods: {
                configInfo: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.getmyinfo,
                        type: "POST",
                        dataType: "json",
                        success: function (ret) {
                            if (ret.code == '0') {
                                $.alert(ret.msg);
                            } else {
                                self.name = ret.Emp_Name;
                                self.dept_type = ret.dept_type;
                                if(ret.third_type > 0 && ret.Ic_Card !== null && ret.Ic_Card !== ''){
                                    self.third_type = '2';
                                }else{
                                    self.third_type = '1';
                                }
                                if(ret.Emp_image){
                                    self.image = ret.Emp_image;
                                }else{
                                    self.image = '__PUBLIC__/static/index/images/header.jpg';
                                }
                            }
                        }
                    });
                },
                aboutus: function () {
                    $.alert('还没想好把谁放上去!');
                },
                waitus: function () {
                    $.alert('你还可以再等等，也许会上线!');
                },
                givupus: function () {
                    $.alert('放弃吧，有也不会给你上的!');
                },
                fastus: function () {
                    $.alert('快了，还在写中!');
                },
                loginOut: function () {
                    $.confirm({
                        title: '提示',
                        text: '确定退出登录?',
                        onOK: function () {
                            $.ajax({
                                url: SCapiDic.logout,
                                type: "GET",
                                dataType: "json",
                                success: function (ret) {
                                    $.alert(ret.msg, function() {
                                        openWin(ret.url,{company_id:ret.data.company_id});
                                    });
                                }
                            });
                        },
                        onCancel: function () {}
                    });
                }
            },
           mounted: function () {
               this.$nextTick(function () {
                   this.configInfo();
               })
           }
        });
    }

</script>



