{include file="common/header" title="账户充值" keywords="账户充值" description="" /}
<div id="app" class="f H scroll p10">
    <form action="{:url('mallapi/rechargeZhenong')}" method="post">
        <input type="hidden" name="transName" value="PWDReq">
        <input type="hidden" name="TransId" value="IPEM">
        <input type="hidden" name="MerchantId" value="010020150521152412">
        <input type="hidden" name="OrderId" value="DS{$time}">
        <!--<input type="hidden" name="MobileNo" value="13911111111">-->
        <input type="hidden" name="MerSeqNo" value="wsl{$time}">
        <input type="hidden" name="MerDateTime" value="{$time}">
        <input type="hidden" name="Currency" value="01">
        <!--<input type="hidden" name="CustoMerName" value="柯南">-->
        <!--<input type="hidden" name="CustoMerEMail" value="kenan@163.com">-->
        <input type="hidden" name="MerURL" value="http://158.222.25.107:8080/merchant/*.do?TransName=prePWDReq">
        <input type="hidden" name="MerURL1" value="http://{$_SERVER['HTTP_HOST']}{:url('index/index/me')}">
        <!--<input type="hidden" name="OpenPayType" value="">-->
        <!--<input type="hidden" name="DefaultPayType" value="">-->
        <!--<input type="hidden" name="PayIp" value="127.0.0.1">-->
        <!--<input type="hidden" name="MsgExt" value="哈哈哈哈">-->
        <input type="hidden" name="AppointedPayType" value="">
        <!--<input type="hidden" name="IntergalFlag" value="0">-->
        <!--<input type="hidden" name="IntergalPayAcctNo" value="6222880210681940">-->
        <!--<input type="hidden" name="ClientNo" value="81036237198">-->
        <!--<input type="hidden" name="IntergalPayMobileNo" value="13911111111">-->
        <!--<input type="hidden" name="AppointedPayAcctNo" value="6230910199001239157">-->
        <!--<input type="hidden" name="AppointedMobileNo" value="13675821692">-->
        <!--<input type="hidden" name="SubMerchantId1" value="AA201506110000000292">-->
        <!--<input type="hidden" name="SubMerSeqNo1" value="wsla20180312152005">-->
        <!--<input type="hidden" name="ProductInfo1" value="哈哈哈哈">-->
        <!--<input type="hidden" name="SubTransAmt1" value="0.60">-->
        <!--<input type="hidden" name="SubMerDate1" value="20180312152005">-->
        <!--<input type="hidden" name="SubMerImport1" value="K0">-->
        <!--<input type="hidden" name="SubMerchantId2" value="AA201511300000002723">-->
        <!--<input type="hidden" name="SubMerSeqNo2" value="wslb20180312152005">-->
        <!--<input type="hidden" name="ProductInfo2" value="呵呵呵呵">-->
        <!--<input type="hidden" name="SubTransAmt2" value="0.40">-->
        <!--<input type="hidden" name="SubMerDate2" value="20180312152005">-->
        <!--<input type="hidden" name="SubMerImport2" value="K0">-->
        <!--<input type="hidden" name="BranchNo" value="881000">-->
        <!--<input type="hidden" name="AmtThisTime" value="0.10">-->
        <input type="hidden" name="submit" value="提交">
        <div class="bgf p20-10 bbe F_">
            <span>充值金额：</span>
            <span class="f ml20">
				<input type="number" class="W bn" placeholder="请输入充值金额" name="TransAmt" id="TransAmt"/>
			</span>
        </div>
        <div class="pt40">
            <button type="submit" class="bgdefault W r2 cf p10 f16" id="submit">网银支付</button>
        </div>
    </form>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    var submitBtn = document.getElementById("submit");
    submitBtn.onclick = function (event) {
        var TransAmt = $("#TransAmt").val();
        if (TransAmt > 0) {
            return true;
        } else {
            $.alert("充值金额必须大于0");
            return false;
        }
    };
</script>



