{include file="common/header" title="菜谱详情" keywords="菜谱详情" description="" /}
<div id="app" class="f fr6 scroll H" v-cloak>
    <ul class="bgf clear W SSheader">
        <li class="hl50 F_ bbd bgf">
            <p class='f pl10'>{{date}}</p>
        </li>
    </ul>
    <ul class="tc bgf SSorder bgf clear bbe W mt50 SSheader">
        <li v-for="item in dinnerBaseList" class="h40 lh40 "
            :class="[dinnerBaseCount,{'Spactive': dinner_type == item.dinner_flag}]" @click='changeSp(item.dinner_flag)'
            value="{{item.dinner_flag}}">
            <div>{{item.dinner_name}}</div>
        </li>
    </ul>
    <div class="tc pt140" v-if="cartGetCount == '0'">
        <img src="__PUBLIC__/static/index/images/menu_st.png" class="h80 lh80 mb5">
        <p class="c9 mb15">今日菜谱空空如也！</p>
        <button class="bgdefault cf p10-20 r4" onclick="openWin('/index/index',{})">去其他日期选购订餐</button>
    </div>
    <div v-else class="W H mt90">
        <ul class="tc clear H5 ">
            <li class="H W5 ptinfo fl" v-for="item in cartProductList">
                <img :src="item.cookbook_image+'?imageslim'" class="H7 W" @click="popup()">
                <div class="bgf H3 W">
                    <div class="tl W3 fl tr H">
                        <div class="weui-cells_checkbox W H ptcheck">
                            <label class="weui-cell W H">
                                <input type="checkbox" class="weui-check" name="radio"
                                       @click='changeCa(item.canteen_no,item.dinner_flag,item.cookbook_no,item.price_id,item.cookbook_price,$event)'
                                       :checked="item.order_index == 1">
                                <i class="weui-icon-checked"></i>
                            </label>
                        </div>
                    </div>
                    <div class="W7 H tc ptcheckinfo_div">
                        <div class="W H ptcheckinfo">
                            <span>{{item.canteen_name}}</span><br><span>{{item.cookbook_name}}</span><br/> <span
                                class="c9">￥<span class="SScorange">{{item.cookbook_price}}</span>元/份</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 底部导航栏 -->
<div id="price_total" class="bgf btd tc f12 c9 h60 SSfooter" v-cloak>
    <div class="W15 h60 tr c0 Cz"><span>合计：</span></div>
    <div class="W2 h60 lh25 pt10 tl"><span class="Pn">{{price_num}}</span> 个菜品</span><br/><span class="Pr">{{price_total}}</span>元
    </div>
    <div class="W15 h60 Cz tl" v-if="now_num == '0'"><span>(未预定)</span></div>
    <div class="W15 h60 Cz tl" v-else><span>(已预定)</span></div>
    <div class="W2 h60 Cz tl">
        <div class="W H lh30" v-if="now_num !== '0' "><span>{{now_flag}}</span><br/><span>{{now_name}}</span></div>
    </div>
    <div class="W3 h60 Cz">
        <div class="W H ptcheck">
            <button class="bgdefault w90 r5 SScwhite" @click="notice()">注意事项</button>
        </div>

    </div>
</div>
<div id="report" class="weui-popup__container popup-bottom">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div id="main" style="width:100vw;height:50vh;"></div>
    </div>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            day: getUrlParam('day'),
            cartProductList: [],
            cartGetCount: '0',
            date: '',
            dinnerBaseList: [],
            dinnerBaseCount: [],
            dinner_type: '',
            cart_priceId: ''
        };
        var vm = new Vue({
            el: '#price_total',
            data: {
                price_total: '',
                price_num: '',
                now_num: '0',
                now_flag: '',
                now_name: ''
            },
            methods: {
                notice: function () {
                    $.alert("选中菜品即下单成功");
                }
            }
        });
        new Vue({
            el: '#app',
            data: data,
            methods: {
                popup: function () {
                    $("#report").popup();
                },
                initClassObj: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.deptCartProductList,
                        type: "POST",
                        dataType: "json",
                        data: {
                            day: self.day,
                            emp_id: getUrlParam('emp_id')
                        },
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.date = ret.data.date;
                            } else {
                                self.date = ret.date;
                                self.dinnerBaseList = ret.dinnerBaseList;
                                self.dinnerBaseCount = ret.dinnerBaseCount;
                                vm.price_total = ret.price_total;
                                vm.price_num = ret.price_num;
                                self.dinner_type = ret.dinnerBaseList[0]['dinner_flag'];
                                self.initCartObj(self.dinner_type);
                            }
                        }
                    });
                },
                initCartObj: function (dinner) {
                    var self = this;
                    vm.now_num = '0';
                    vm.now_falg = '';
                    vm.now_name = '';
                    $.ajax({
                        url: SCapiDic.deptCartList,
                        type: "POST",
                        dataType: "json",
                        data: {
                            dinner: dinner,
                            day: self.day,
                            emp_id: getUrlParam('emp_id')
                        },
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.date = ret.data.date;
                            } else {
                                self.cartProductList = ret.cartList;
                                self.cartGetCount = ret.cartCount;
                                self.cart_priceId = ret.cart_priceId;
                                if(ret.dinner_name){
                                    vm.now_num = ret.dinner_name.length;
                                }
                                vm.now_flag = ret.dinner_name;
                                vm.now_name = ret.cookbook_name;
                            }
                        }
                    });
                },
                changeSp: function (Sp) {
                    var self = this;
                    self.dinner_type = Sp;
                    self.cartProductList = [];
                    self.initCartObj(Sp);
                },
                changeCa: function (Tn, Df, Cn, Pi, Cp, $event) {
                    var self = this;
                    if ($event.target.checked) {
                        $.ajax({ //增加商品
                            url: SCapiDic.deptAddCart,
                            type: "POST",
                            dataType: "json",
                            data: {
                                canteen_no: Tn,
                                dinner_flag: Df,
                                cookbook_no: Cn,
                                price_id: Pi,
                                cookbook_price: Cp,
                                day: self.day,
                                emp_id: getUrlParam('emp_id')
                            },
                            success: function (ret) {
                                if (ret.code == '0') {
                                    $.alert(ret.msg);
                                    $event.target.checked = false;
                                } else {
                                    $('input:checkbox[name="radio"]').removeAttr('checked');
                                    $event.target.checked = true;
                                    vm.price_total = ret.data.price_total;
                                    vm.price_num = ret.data.price_num;
                                    if(ret.data.dinner_name){
                                        vm.now_num = ret.data.dinner_name.length;
                                    }
                                    vm.now_flag = ret.data.dinner_name;
                                    vm.now_name = ret.data.cookbook_name;
                                }
                            }
                        });
                    } else {
                        $.ajax({ //删除商品
                            url: SCapiDic.deptDelCart,
                            type: "POST",
                            dataType: "json",
                            data: {
                                canteen_no: Tn,
                                dinner_flag: Df,
                                cookbook_no: Cn,
                                price_id: Pi,
                                cookbook_price: Cp,
                                day: self.day,
                                emp_id: getUrlParam('emp_id')
                            },
                            success: function (ret) {
                                if (ret.code == '0') {
                                    $.alert(ret.msg);
                                    $event.target.checked = true;
                                } else {
                                    $('input:checkbox[name="radio"]').removeAttr('checked');
                                    $event.target.checked = false;
                                    vm.price_total = ret.data.price_total;
                                    vm.price_num = ret.data.price_num;
                                    vm.now_num = '0';
                                    vm.now_flag = '';
                                    vm.now_name = '';
                                }
                            }
                        });
                    }
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.initClassObj();
                })
            }
        });
    };
</script>
<script src="__PUBLIC__/static/index/js/echarts.js"></script>
<script src="__PUBLIC__/static/index/js/vintage.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('main'),'vintage');
    var option = {
        backgroundColor: '#8785A2',

        title: {
            show: true,
            text: '菜品的营养比例',
            left: 'center',
            top: 20,
            textStyle: {
                color: '#ccc'
            }
        },

        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'午餐的营养比例',
                type:'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    {value:335, name:'脂肪'},
                    {value:310, name:'蛋白质'},
                    {value:274, name:'能量'},

                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };
    myChart.setOption(option);
</script>


