{include file="common/header" title="全天的营养分析" keywords="全天的营养分析" description="" /}
<div class="f H scroll" style="background-color: white">
    <div class="W H">
        <div class="W H3">
            <div class="H5 m20-20 f12 ptcheckinfo_div" style="background-color: rgba(67, 160, 201,1);color: white;border-radius:10px;">
                <span class="W H fl p20"><img src="http://ozwuc6cm0.bkt.clouddn.com/9177cf247797ace0/02fd750d77d052c8.jpg?imageslim" class="h80 w80"></span><span class="W H ptcheckinfo">今日午餐为蛋蒸肉松套餐</span>
            </div>
            <div class="H5 m20-20 tc f12">
                <p class=" W H lh35">通过对DRIS标准测算,午餐中所包含的能量、蛋白质、脂肪功能比满足营养均衡需求</p>
            </div>
        </div>
        <div id="main" class="W H7"></div>
    </div>
    <div class="W H">
        <div class="W H5">
            <div class="H3 m20-20 f12 ptcheckinfo_div" style="background-color: rgba(67, 160, 201,1);color: white;border-radius:10px;">
                <span class="W H fl p20"><img src="http://ozwuc6cm0.bkt.clouddn.com/9177cf247797ace0/02fd750d77d052c8.jpg?imageslim" class="h80 w80"></span><span class="W H ptcheckinfo">今日午餐为蛋蒸肉松套餐</span>
            </div>
            <div class="H7 m20-20 f12">
                <p class="W H lh35">早餐膳食建议:能量摄入:面条(每100g含能量109kcal)<br>钙来源:牛奶(每100g含钙108mg)</p>
                <p class="W H lh35">晚餐膳食建议:优质蛋白:鱼头豆腐<br>每100g豆腐含蛋白质20.1mg<br>每100g胖头鱼含蛋白质17.6mg)<br>富含维生素A:胡萝卜(每100g含维A17mg)</p>
            </div>
        </div>
        <div id="main2" class="W H5"></div>
    </div>
    <div class="W H">
        <div class="W H3">
            <div class="H5 m20-20 f12 ptcheckinfo_div" style="background-color: rgba(67, 160, 201,1);color: white;border-radius:10px;">
                <span class="W H fl p20"><img src="http://ozwuc6cm0.bkt.clouddn.com/9177cf247797ace0/02fd750d77d052c8.jpg?imageslim" class="h80 w80"></span>
                <span class="W H ptcheckinfo">今日午餐为蛋蒸肉松套餐<br>早餐建议:能量摄入面条<br>钙来源牛奶<br>晚餐建议:优质蛋白鱼头豆腐</span>
            </div>
            <div class="H5 m20-20 tc f12">
                <p class="W H lh35">根据营养素摄入量标准,膳食建议为您补全身体营养需求</p>
            </div>
        </div>
        <div id="main3" class="W H7"></div>
    </div>

</div>
{include file="common/footer" /}
<script src="__PUBLIC__/static/index/js/echarts.min.js"></script>
<script src="__PUBLIC__/static/index/js/vintage.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('main'), 'vintage');
    var option = {
        backgroundColor: 'white',

        title: {
            show: true,
            text: '三类供能物质对比',
            left: 'center',
            bottom: 50,
            textStyle: {
                color: 'black'
            }
        },

        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series: [
            {
                name: '三类供能物质对比',
                type: 'pie',
                radius: '80%',
                center: ['50%', '50%'],
                data: [
                    {value: 400, name: '脂肪', itemStyle:{normal:{color:'rgba(228, 111, 91,1)'}}},
                    {value: 300, name: '蛋白质',itemStyle:{normal:{color:'rgba(231, 176, 182,1)'}}},
                    {value: 500, name: '能量',itemStyle:{normal:{color:'rgba(252, 214, 131,1)'}}},
                ].sort(function (a, b) {
                    return a.value - b.value;
                }),
                roseType: 'radius',
                label: {
                    normal: {
                        position: 'inside',
                        formatter: '{b} {d}%',
                        textStyle: {
                            color: 'white',
                            fontSize: 14
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ],
    };
    myChart.setOption(option);
</script>
<script>
    var myChart = echarts.init(document.getElementById('main2'), 'vintage');
    var option = {
        backgroundColor: 'white',

        title: {
            text: '三餐供能比',
            subtext: '',
            x: 'center',
            left: 'center',
            bottom: 30,
            textStyle: {
                color: 'black'
            }
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['能量', '蛋白质', '脂肪']
        },
        series: [
            {
                name: '能量来源',
                type: 'pie',
                radius: '65%',
                center: ['50%', '40%'],
                data: [
                    {value: 335, name: '能量'},
                    {value: 310, name: '蛋白质'},
                    {value: 234, name: '脂肪'}
                ],
                label: {
                    normal: {
                        position: 'inside',
                        formatter: '{b} {d}%',
                        textStyle: {
                            color: 'white',
                            fontSize: 14
                        }
                    }
                },
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    myChart.setOption(option);
</script>

<script>
    var myChart = echarts.init(document.getElementById('main3'), 'vintage');

    var option = {

        backgroundColor: 'white',

        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['早餐', '午餐', '晚餐']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value'
        },
        yAxis: {
            type: 'category',
            data: ['钙', '铁', '锌', '维生素E', '维生素B1', '维生素A', '维生素C', '蛋白质', '脂肪', '能量']
        },
        series: [
            {
                name: '早餐',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: [320, 302, 301, 334, 390, 330, 320, 200, 300, 400]
            },
            {
                name: '午餐',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: [120, 132, 101, 134, 290, 230, 210, 150, 200, 100]
            },
            {
                name: '晚餐',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: [220, 182, 191, 234, 290, 330, 310, 400, 300, 400]
            }
        ]
    };
    myChart.setOption(option);
</script>


