{include file="common/header" title="账户充值" keywords="账户充值" description="" /}
<div id="app" class="f H scroll p10" v-cloak>
    <div class="pt40" v-for="item in type_list">
        <button class="bgdefault W r2 cf p10 f16" @click="popup(item.third_url)" >{{item.third_company}}</button>
    </div>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            'type_list': ''
        };
        new Vue({
            el: '#app',
            data: data,
            methods: {
                recharge_list: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.rechargeTypeList,
                        type: "POST",
                        dataType: "json",
                        success: function (ret) {
                            self.type_list = ret;
                        }
                    });
                },
                popup: function (url) {
                    openWin('/index/index/'+url, {});
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.recharge_list();
                })
            }
        });
    }

</script>



