{include file="common/header" title="我的余额" keywords="我的余额" description="" /}
<div id="app" class="W scroll H" v-cloak>
    <div class="W pr Sbg pr bgdefault SSheader">
        <div class="tc h80 lh20">
            <div class="cf f16 C4 H pt20">￥{{account_remain_money}}<br/>可用余额</div>
            <div class="cf f16 C4 H pt20">￥{{account_remain_momey1}}<br/>现金余额</div>
            <div class="cf f16 C4 H pt20">￥{{account_freeze_money}}<br/>冻结金额</div>
        </div>
    </div>
    <ul class="tc bgf f12 SSorder clear bbe mt80 SSheader W mt80">
        <li class="C6 h40 lh40" :class="orderType == '0' ? 'SSactive' : '' " @click='rechargeList()'>
            <div>充值记录</div>
        </li>
        <li class="C6 h40 lh40" :class="orderType == '1' ? 'SSactive' : '' " @click='recordList()'>
            <div>消费记录</div>
        </li>
    </ul>
    <div class="tc pt170 " v-show="orderType =='0'" v-if="rechargeGetCount == '0'">
        <img src="__PUBLIC__/static/index/images/menu_st.png" class="h80 lh80 mb5">
        <p class="c9 mb15">充值记录空空如也！</p>
        <button class="bgdefault cf p10-20 r4" onclick="openWin('/index/index',{})">去其他日期选购订餐</button>
    </div>
    <div v-else class="mt120" v-show="orderType =='0'">
        <ul>
            <li class="hl50 F_ bbd bgf fr6 ell" v-for="item in rechargeGetList">
                <p class='pl10' v-if="item.get_account_degree > 0 ">{{item.create_date}}&nbsp;&nbsp;{{item.meal_name}}充值{{item.get_account_degree}}次和{{item.get_account_money}}元</p>
                <p class='pl10' v-else>
                    {{item.create_date}}&nbsp;&nbsp;{{item.meal_name}}充值{{item.get_account_money}}元</p>
                <p class='pr10 c9'>{{item.case_date}}</p>
            </li>
        </ul>
    </div>

    <div class="tc pt170 " v-show="orderType =='1'" v-if="recordGetCount == '0'">
        <img src="__PUBLIC__/static/index/images/menu_st.png" class="h80 lh80 mb5">
        <p class="c9 mb15">消费记录空空如也！</p>
        <button class="bgdefault cf p10-20 r4" onclick="openWin('/index/index',{})">去其他日期选购订餐</button>
    </div>
    <div v-else class="mt120" v-show="orderType =='1'">
        <ul>
            <li class="hl50 F_ bbd bgf fr6 ell" v-for="item in recordGetList" @click="order(item.day)">
                <p class='pl10'>
                    {{item.dinner_datetime}}{{item.canteen_name}}{{item.dinner_name}}{{item.dinner_status}}{{item.cook_money}}元</p>
                <p class='pr10 c9'>{{item.dinner_createtime}}</p>
            </li>
        </ul>
    </div>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            orderType: '0',
            rechargeGetCount: '',
            rechargeGetList: [],
            recordGetCount: '',
            recordGetList: [],
            account_remain_money: '0',
            account_freeze_money: '0',
            account_remain_momey1: '0'
        };
        new Vue({
            el: '#app',
            data: data,
            methods: {
                configInfo: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.getmymoney,
                        type: "GET",
                        dataType: "json",
                        success: function (ret) {
                            self.account_remain_money = ret.account_remain_money;
                            self.account_freeze_money = ret.account_freeze_money;
                            self.account_remain_momey1 = ret.account_remain_momey1;
                        }
                    });
                },
                rechargeList: function () {
                    var self = this;
                    self.orderType = 0;
                    $.ajax({
                        url: SCapiDic.getRechargeList,
                        type: "GET",
                        dataType: "json",
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.rechargeGetCount = '0';
                                console.log(self)
                            } else {
                                self.rechargeGetList = ret.list;
                                self.rechargeGetCount = ret.count;
                            }
                        }
                    });
                },
                recordList: function () {
                    var self = this;
                    self.orderType = 1;
                    $.ajax({
                        url: SCapiDic.getRecordList,
                        type: "GET",
                        dataType: "json",
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.recordGetCount = 0;
                            } else {
                                self.recordGetList = ret.list;
                                self.recordGetCount = ret.count;
                            }
                        }
                    });
                },
                order: function (day) {  //跳转函数
                    openWin('/index/index/orderInfo', {day: day});
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.configInfo();
                    this.rechargeList();
                })
            }
        });
    }

</script>



