{include file="common/header"  title="今日菜谱" keywords="今日菜谱" description=""/}
<div id="app" class="f fr6 scroll H " v-cloak>
    <ul class="bgf clear W SSheader">
        <li class="hl50 F_ bbd bgf">
            <p class='f pl10'>{{date}}</p>
        </li>
    </ul>
    <div class="tc pt100" v-if="cartGetCount == '0'">
        <img src="__PUBLIC__/static/index/images/menu_st.png" class="h80 lh80 mb5">
        <p class="c9 mb15">今日菜谱空空如也！</p>
        <button class="bgdefault cf p10-20 r4" onclick="openWin('/index/index',{})">去其他日期选购订餐</button>
    </div>
    <div v-else class="W mt50">
        <ul class="tc clear H5">
            <li class="H W5 fl ptinfo" v-for="item in cartProductList">
                <img :src="item.cookbook_image+'?imageslim'" class="H7 W" @click="popup()">
                <div class="bgf H3 W">
                    <div class="H W tc ptcheckinfo_div">
                        <div class="W H ptcheckinfo">
                            <span>{{item.canteen_name}}</span><span class="pl10">{{item.dinner_name}}</span><br><span>{{item.cookbook_name}}</span><br/>
                            <span class="c9">￥<span class="SScorange">{{item.cook_money}}</span>元/份</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 底部导航栏 -->
<div class="W bgf btd tc f12 c9 h60 SSfooter">
    <div class="C4" onclick="openWin('/index/index/index',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/home.png">
        </div>
        <div class=" h24 lh20">首页</div>
    </div>
    <div class="C4" onclick="openWin('/index/index/menu',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/menu-g.png">
        </div>
        <div class="h24 lh20 SScmenu">今日菜谱</div>
    </div>
    <div class="C4" onclick="openWin('/index/index/me',{})">
        <div class="h30 lh30 mt5">
            <img src="__PUBLIC__/static/index/images/me.png">
        </div>
        <div class="h24 lh20">个人中心</div>
    </div>
</div>
<div id="report" class="weui-popup__container popup-bottom">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div id="main" style="width:100vw;height:50vh;"></div>
    </div>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var d = new Date();
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        var data = {
            day: year + "-" + month + "-" + day,
            cartProductList: [],
            cartGetCount: '0',
            date: '',
            cart_priceId: '',
            price_total: '',
            price_num: '',
            dinner_status: ''
        };
        new Vue({
            el: '#app',
            data: data,
            methods: {
                popup: function () {
                    $("#report").popup();
                },
                initClassObj: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.orderProductList,
                        type: "POST",
                        dataType: "json",
                        data: {
                            day: self.day
                        },
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.date = ret.data.date;
                            } else {
                                self.date = ret.date;
                                self.price_total = ret.price_total;
                                self.price_num = ret.price_num;
                                self.dinner_status = ret.dinner_status;
                                self.initCartObj();
                            }
                        }
                    });
                },
                initCartObj: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.orderCartList,
                        type: "POST",
                        dataType: "json",
                        data: {
                            day: self.day
                        },
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.date = ret.data.date;
                            } else {
                                self.cartGetCount = ret.cartCount;
                                self.cartProductList = ret.cartList;
                            }
                        }
                    });
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.initClassObj();
                })
            }
        })
        ;
    };
</script>
<script src="__PUBLIC__/static/index/js/echarts.min.js"></script>
<script src="__PUBLIC__/static/index/js/vintage.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('main'),'vintage');

    var option = {

        title : {
            show: true,
            text: '每日餐次营养比例',
            left: 'center',
            top: 20
        },

        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['早餐', '午餐','晚餐']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis:  {
            type: 'value'
        },
        yAxis: {
            type: 'category',
            data: ['钙','铁','锌','维生素E','维生素B1','维生素A','维生素C','蛋白质','脂肪','能量']
        },
        series: [
            {
                name: '早餐',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: [320, 302, 301, 334, 390, 330, 320,200,300,400]
            },
            {
                name: '午餐',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: [120, 132, 101, 134, 290, 230, 210,150,200,100]
            },
            {
                name: '晚餐',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: [220, 182, 191, 234, 290, 330, 310,400,300,400]
            }
        ]
    };
    myChart.setOption(option);
</script>



