{include file="common/header" title="通知详情" keywords="通知详情" description="" /}
<div id="app" class="f H oh fr6" v-cloak>
    <div class="W scroll H">
        <ul>
            <li class="hl50 F_ bbd bgf tc">
                <p class='pl10 W'>{{messageProductInfo.title}}</p>
            </li>
            <li class="hl50 F_ bbd bgf tl">
            <p class='pl10 W'>{{messageProductInfo.content}}</p>
            </li>
            <li class="hl50 F_ bbd bgf tr">
            <p class='pr10 c9 W'>{{messageProductInfo.create_time}}</p>
            </li>
        </ul>
    </div>
</div>
<!-- 底部导航栏 -->
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            id: getUrlParam('id'),
            messageProductInfo: []
        };
        new Vue({
            el: '#app',
            data: data,
            methods: {
                initMessageObj: function () {
                    var self = this;
                    $.ajax({
                        url: '/index/mallapi/messageInfo',
                        type: "POST",
                        dataType: "json",
                        data: {'id':self.id},
                        success: function (ret) {
                            self.messageProductInfo = ret.messageInfo;
                        }
                    });
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.initMessageObj();
                })
            }
        })
        ;
    };
</script>



