{include file="common/header" title="设备注册" keywords="设备注册" description="" /}
<link rel="stylesheet" href="__PUBLIC__/static/plugs/layui/css/layui.mobile.css">
<ul class="bgf clear SSheader W">
    <li class="hl50 F_ bbd bgf tc bgdefault cf fr6">
        <p class='W'>设备注册</p>
    </li>
</ul>
<div id="app" class="f H scroll bgf pt50" v-cloak>
    <div class="bgf p20-10 bbe F_">
        <span>设备序列号：</span>
        <span class="f ml20">
				<input type="text" class="W bn" readonly placeholder="请输入设备序列号" v-model="machine_id"/>
			</span>
    </div>
    <div class="bgf p20-10 bbe F_">
        <span>设备类别：</span>
        <span class="f ml20">
				 <select class="weui-select" name="select2">
            <option value="1">中国</option>
            <option value="2">美国</option>
            <option value="3">英国</option>
            </select>
			</span>
    </div>
    <div class="bgf p20-10 bbe F_">
        <span>应用服务器地址：</span>
        <span class="f ml20">
    <input type="text" class="W bn" placeholder="请输入应用服务器地址" value=""/>
    </span>
    </div>
    <div class="bgf p20-10 bbe F_">
        <span>餐厅：</span>
        <span class="f ml20">
     <select class="weui-select" name="select2">
            <option value="1">一餐厅</option>
            <option value="2">二餐厅</option>
            <option value="3">三餐厅</option>
            </select>
    </span>
    </div>
    <div class="bgf p20-10 bbe F_">
        <span>窗口：</span>
        <span class="f ml20">
    <select class="weui-select" name="select2">
            <option value="1">一餐厅</option>
            <option value="2">二餐厅</option>
            <option value="3">三餐厅</option>
            </select>
    </span>
    </div>
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>指纹识别方式：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>数据交互方式：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>指纹模版版本：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>指纹验证最低评分：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>指纹验证直接通过评分：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>指纹质量最低通过评分：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>串口参数：</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>串口号：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>串口波特率：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>奇偶校验方式：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>数据位长度：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="bgf p20-10 bbe F_">-->
    <!--<span>停止位长度：</span>-->
    <!--<span class="f ml20">-->
    <!--<input type="password" class="W bn" readonly value="11111"/>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="pt40">-->
    <!--<button class="bgdefault W9 r2 cf p10 f16 Ml5" @click="cardBing">确定</button>-->
    <!--</div>-->
</div>
{include file="common/footer" /}
<link rel="stylesheet" href="__PUBLIC__/static/plugs/layui/layui.js">
<script type="text/javascript">
    window.onload = function () {
        var data = {
            machine_id: getUrlParam('machine_id')
        };
        new Vue({
            el: '#app',
            data: data,
            methods: {
                configInfo: function () {
                    var self = this;
                    if (!self.machine_id) {
                        $.alert('设备号参数错误,请重新扫码!', function () {
                            openWin('index/index/me', {});
                        });
                    }
                },
                cardBing: function () {
                    var self = this;
                    $.ajax({
                        url: '/index/mallapi/cardBind',
                        type: "POST",
                        data: {card: self.card},
                        dataType: "json",
                        success: function (ret) {
                            if (ret.code == '0') {
                                $.alert(ret.msg);
                            } else {
                                $.alert(ret.msg, function () {
                                    openWin(ret.url, {});
                                });
                            }
                        }
                    });
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.configInfo();
                })
            }
        });
    }

</script>
