{include file="common/header" title="订单详情" keywords="订单详情" description="" /}
<div id="app" class="f fr6 scroll H" v-cloak>
    <ul class="bgf clear W SSheader">
        <li class="hl50 F_ bbd bgf">
            <p class='f pl10'>{{date}}</p>
        </li>
    </ul>
    <div class="tc pt100" v-if="cartGetCount == '0'">
        <img src="__PUBLIC__/static/index/images/menu_st.png" class="h80 lh80 mb5">
        <p class="c9 mb15">今日菜谱空空如也！</p>
        <button class="bgdefault cf p10-20 r4" onclick="openWin('/index/index',{})">去其他日期选购订餐</button>
    </div>
    <div v-else class="W H mt50">
        <ul class="tc clear H5">
            <li class="H W5 fl ptinfo" v-for="item in cartProductList">
                <img :src="item.cookbook_image+'?imageslim'" class="H7 W" @click="popup()">
                <div class="bgf H3 W">
                    <div class="H W tc" style="display:table;line-height: .8rem;">
                        <div class="W H ptcheckinfo">
                            <span>{{item.canteen_name}}</span><span class="pl10">{{item.dinner_name}}</span><br><span>{{item.cookbook_name}}</span><br/>
                            <span class="c9">￥<span class="SScorange">{{item.cook_money}}</span>元/份</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- 底部导航栏 -->
<div id="price_total" class="bgf btd tc f12 c9 h60 SSfooter" v-cloak>
    <div class="W15 h60 tr c0 Cz"><span>合计：</span></div>
    <div class="W2 h60 lh25 pt10 tl"><span class="Pn">{{price_num}}</span> 个菜品</span><br/><span class="Pr">{{price_total}}</span>元
    </div>
    <div class="W15 h60 Cz tl"><span>(已预定)</span></div>
    <div class="W5 h60 Cz">
        <div class="W H ptcheck">
            <button class="bgdefault w90 r5 SScwhite" v-if="dinner_status == '0'" @click="takeus()">可取餐</button>
            <button class="bgdefault w90 r5 SScwhite" v-if="dinner_status == '1'" @click="historyus()">历史订餐</button>
            <button class="bgdefault w90 r5 SScwhite" v-if="dinner_status == '2'" @click="waitus()">等待取餐</button>
        </div>
    </div>
</div>
<div id="report" class="weui-popup__container popup-bottom">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div id="main" style="width:100vw;height:50vh;"></div>
    </div>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            day: getUrlParam('day'),
            cartProductList: [],
            cartGetCount: '0',
            date: '',
            cart_priceId: ''
        };
        var vm = new Vue({
            el: '#price_total',
            data: {
                price_total: '0',
                price_num: '0',
                dinner_status: ''
            },
            methods: {
                takeus: function () {
                    $.alert('不用看了,可以去取餐了!')
                },
                historyus: function () {
                    $.alert('不用看了,订单已经过期了!')
                },
                waitus: function () {
                    $.alert('慢慢等吧，还没可以取餐!')
                }
            }
        });
        new Vue({
            el: '#app',
            data: data,
            methods: {
                popup: function () {
                    $("#report").popup();
                },
                initClassObj: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.orderProductList,
                        type: "POST",
                        dataType: "json",
                        data: {
                            day: self.day
                        },
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.date = ret.data.date;
                            } else {
                                self.date = ret.date;
                                vm.price_total = ret.price_total;
                                vm.price_num = ret.price_num;
                                vm.dinner_status = ret.dinner_status;
                                self.initCartObj();
                            }
                        }
                    });
                },
                initCartObj: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.orderCartList,
                        type: "POST",
                        dataType: "json",
                        data: {
                            day: self.day
                        },
                        success: function (ret) {
                            if (ret.code == '0') {
                                self.date = ret.data.date;
                            } else {
                                self.cartGetCount = ret.cartCount;
                                self.cartProductList = ret.cartList;
                            }
                        }
                    });
                },
                takeus: function () {
                    $.alert('不用看了,可以去取餐了!')
                },
                historyus: function () {
                    $.alert('不用看了,订单已经过期了!')
                },
                waitus: function () {
                    $.alert('慢慢等吧，还没可以取餐!')
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.initClassObj();
                })
            }
        });
    };
</script>
<script src="__PUBLIC__/static/index/js/echarts.min.js"></script>
<script src="__PUBLIC__/static/index/js/vintage.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('main'),'vintage');
    var option = {
        backgroundColor: '#BDE4F4',

        title : {
            text: '三餐的营养比例',
            subtext: '',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['能量','蛋白质','脂肪']
        },
        series : [
            {
                name: '能量来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'能量'},
                    {value:310, name:'蛋白质'},
                    {value:234, name:'脂肪'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    myChart.setOption(option);
</script>


