{include file="common/header" title="退餐管理" keywords="退餐管理" description="" /}
<div id="app" class="f H oh" v-cloak>
    <ul class="bgf clear SSheader W">
        <li class="hl50 F_ bbd bgf tc bgdefault cf fr6">
            <p class='C3'>日期</p>
            <p class='C2'>餐厅</p>
            <p class='C2'>餐次</p>
            <p class='C3'>菜品</p>
            <p class='C2'>状态</p>
        </li>
    </ul>
    <div class="tc pt100" v-if="orderGetCount == '0'">
        <img src="__PUBLIC__/static/index/images/menu_st.png" class="h80 lh80 mb5">
        <p class="c9 mb15">退餐管理空空如也！</p>
        <button class="bgdefault cf p10-20 r4" onclick="openWin('/index/index',{})">去其他日期选购订餐</button>
    </div>
    <div v-else class="W H mt50 scroll oh">
        <ul class="bgf clear" v-for="item in orderList">
            <li class="hl50 F_ bbd bgf tc fr6" @click="refundOrder(item.id,item.status,item.status_name)">
                <p class="C3">{{item.date_str}}</p>
                <p class="C2">{{item.canteen_name}}</p>
                <p class="C2">{{item.dinner_name}}</p>
                <p class="C3">{{item.cookbook_name}}</p>
                <p class="C2">{{item.status_name}}</p>
            </li>
        </ul>
    </div>
</div>
<!-- 底部导航栏 -->
{include file="common/footer" /}
<script type="text/javascript">
    window.onload = function () {
        var data = {
            orderList: [],
            orderGetCount: '0'
        };
        new Vue({
            el: '#app',
            data: data,
            methods: {
                refundOrder: function (id,status,status_name) {  //跳转函数
                    if(status !== '0'){
                        $.alert(status_name);
                        return false;
                    }
                    $.prompt({
                        title: '您确定要退订该笔订单?',
                        text:'请输入退餐原因',
                        input: '请假',
                        empty: false, // 是否允许为空
                        onOK: function (input) {
                            //点击确认
                            $.ajax({
                                url: '/index/mallapi/refundOrder',
                                type: "POST",
                                data:{'id':id,'input':input},
                                dataType: "json",
                                success: function (ret) {
                                    if (ret.code == '0') {
                                        $.alert(ret.msg);
                                    } else {
                                        $.alert(ret.msg, function() {
                                            openWin(ret.url,'');
                                        });
                                    }
                                }
                            });
                        },
                        onCancel: function () {
                            //点击取消
                        }
                    });
                    // $.confirm({
                    //     title: '确认提交?',
                    //     text: '您确定要退订该笔订单?',
                    //     onOK: function () {
                    //         $.ajax({
                    //             url: '/index/mallapi/refundOrder',
                    //             type: "POST",
                    //             data:{'id':id},
                    //             dataType: "json",
                    //             success: function (ret) {
                    //                 if (ret.code == '0') {
                    //                     $.alert(ret.msg);
                    //                 } else {
                    //                     $.alert(ret.msg, function() {
                    //                         openWin(ret.url,'');
                    //                     });
                    //                 }
                    //             }
                    //         });
                    //     },
                    //     onCancel: function () {
                    //     }
                    // });
                },
                initrefundObj: function () {
                    var self = this;
                    $.ajax({
                        url: SCapiDic.refundList,
                        type: "POST",
                        dataType: "json",
                        success: function (ret) {
                            self.orderList = ret;
                            self.orderGetCount = self.orderList.length;
                            console.log(self.orderList);
                        }
                    });
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.initrefundObj();
                })
            }
        })
        ;
    };
</script>



