{include file="common/header" title="账户充值" keywords="账户充值" description="" /}
<div id="app" class="f H scroll p10">
    <form action="{:url('mallapi/rechargeZhenong')}" method="post">
        <input type="hidden" name="transName" value="{$transName}">
        <input type="hidden" name="TransId" value="{$TransId}">
        <input type="hidden" name="MerchantId" value="{$MerchantId}">
        <input type="hidden" name="OrderId" value="{$OrderId}">
        <input type="hidden" name="MerSeqNo" value="{$MerSeqNo}">
        <input type="hidden" name="MerDateTime" value="{$MerDateTime}">
        <input type="hidden" name="MerURL" value="{$MerURL}">
        <input type="hidden" name="MerURL1" value="{$MerURL1}">
        <input type="hidden" name="AppointedPayType" value="{$AppointedPayType}">
        <input type="hidden" name="submit" value="提交">
        <div class="bgf p20-10 bbe F_">
            <span>充值金额：</span>
            <span class="f ml20">
				<input type="number" class="W bn" placeholder="请输入充值金额" name="TransAmt" id="TransAmt"/>
			</span>
        </div>
        <div class="pt40">
            <button type="submit" class="bgdefault W r2 cf p10 f16" id="submit">网银支付</button>
        </div>
    </form>
</div>
{include file="common/footer" /}
<script type="text/javascript">
    var submitBtn = document.getElementById("submit");
    submitBtn.onclick = function (event) {
        var TransAmt = $("#TransAmt").val();
        if (TransAmt > 0) {
            return true;
        } else {
            $.alert("充值金额必须大于0");
            return false;
        }
    };
</script>



