<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">
    {foreach $param_list as $list}
    <div class="layui-form-item">
        <label class="layui-form-label">{$list.param_name_cn}</label>
        <div class="layui-input-block">
            <input type="text" name="{$list.param_name}" value="{:payConf($list.param_name)}"
                   required="required" class="layui-input disabled">
        </div>
    </div>
    {/foreach}
    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>window.form.render();</script>
</form>
